
/* HTML + Body */

body, html{
	margin:0;
	padding: 0;
	font-size:16px;
	font-family:"Lato", sans-serif;
	font-weight:400;
	line-height: 1.8em;
	color: #000;
	scroll-behavior: smooth;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

/* Images */

.pimg1, .pimg2, .pimg3 {
	width: 100%;
	height: 100vh;
	background-position: center;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	z-index: -1;
}

.pimg1{
	background-image: url('../../images/mountain.jpg');
}

.pimg3{
	background-image:url('../../images/sanfrancisco.jpg');
}

.pimg2{
	background-image:url('../../images/city.jpg');
}
.section {
	text-align: center;
	padding:20px 80px;
}
.section-light {
	background-color:#f4f4f4;
	color:#666;
}

.section-dark {
	background-color:#052C2E;
	color: #ddd;
}

/* Text */
.ptext {
	font-size: 40px;
	letter-spacing: 8px;
	line-height: 1.4em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 25%;
}

@media(max-width:568px) {
	.pimg1, .pimg2, .pimg3 {
		background-attachment: scroll;
	}
}

/* Navigation Bar */

nav{
	text-align: center;
	padding:1px 0;
	width: 100%;
	position: sticky;
	top: 0;
	background-color:#052C2E;
}
ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
}

li {
	justify-content: center;
}

li a{
	text-align: center;
	padding:0 60px;
	color: #fff;
	text-decoration: none;
	display: flex;
}

a{
	text-align: center;
	padding:0 60px;
	color: #fff;
	text-decoration: none;
	display: flex;
	justify-content: center;
}

a:hover {
	color: #b3b3b3;
}

a:active {
	color: #000;
}

@media(max-width:733px) {
	li a {
		text-align: center;
		padding:0 20px;
		color: #fff;
		text-decoration: none;
	}
}

@media(max-width:500px) {
	li a {
		text-align: center;
		padding:0 10px;
		color: #fff;
		text-decoration: none;
	}
}

/* Icons */
#icons{
	margin-right: 40px;
}
#icons li a{
	text-align: center;
	font-size: 50px;
	padding:0 20px;
	color: #fff;
	text-decoration: none;
	display: flex;
}

#icons a:active {
	color: #052C2E;
}

#icons a:hover{
	color: #8c8c8c;
}

#email {
	font-size: 20px;
}

@media(max-width:520px) {
	#email {
		font-size: 5px;
	}
}